body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #444;
    color: blue;
    text-align: center;
    padding: 25px;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #333;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}

nav a:hover {
    background-color: #222;
}

section {
    padding: 30px;
}

/* Home hero section */
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.hero img {
    width: 250px;
    border-radius: 40%;
}

/* Cards */
.card {
    background: white;
    padding: 20px;
    margin: 15px;
    border: 1px solid #ddd;
    text-align: center;
    width: 200px;
}

/* Layout for skills and projects */
.skills, .projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* Footer */
footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 15px;
}

/* Responsive */
@media (max-width: 768px) {

    nav {
        flex-direction: column;
        align-items: center;
    }

    .hero {
        flex-direction: column;
        text-align: center;
    }

}